html {
	box-sizing: border-box;
}

*, *:before, *:after {	
	margin: 0px;
	padding: 0px;
	border: 0;
	box-sizing: inherit;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 100%;
	font-weight: normal;
}