/*General*/
body {
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
h1 { 
	font-size: 8em;
	font-weight: bold;
}
h2 {
    font-size: 1.4em;
    opacity: 0.99;}
h3 {	
	font-size: 1.2em;
	letter-spacing: 0.5em;
    color: #10749e;
}
h4 {
	padding: 20px 0 20px 0;
	font-size: 0.9em;
}
a {
    text-decoration: none;
    color: #ffffff;
}
p {
	font-size: 0.8em;
}
section {
	text-align: center;
}
section, footer, .back-w {
    margin: 0 auto;
	width: 980px;	
}
button {
    border: none;
}
.width-wrapper {
	width: 100%;
	padding: 100px 0px 100px 0px;
	clear: both;
}
.color-grey {
	background-color: #333333;
}
.color-blue {
	background-color: #10749e;
}
.color-lgrey {
	background-color: #eeeeee;
}
.color-white, .color-lgrey {
	color: #000000;
}
/*Header*/
header {
	width: 100%;
	background: url("../images/header.jpg") no-repeat fixed;
	background-size: 100%;
    text-align: center;
}
.top-line {
    padding: 20px 10px 0 10px;
    width: 960px;
    display: inline-block; 	
}
.logo {
	margin-bottom: 15px;
	height: 55px;
    float: left;
}
nav { float: right; }
ul { list-style: none; }
li { display: inline-block;	}
li a {
	display: block;
	padding: 20px 15px 28px 15px;
	text-align: center;
	border-bottom: 4px solid transparent;
}
li a:hover { border-bottom: 4px solid #10749e;}
.social {
	float: right;
	padding: 20px 20px 0 20px;
}
.social img{
	height: 18px;
	padding-left: 20px;
}
hgroup {
    width: 100%;
    border-top: 1px solid #eeeeee;
	text-align: center;
	padding: 200px 0 20px 0;
    margin-top: -2px;
}
.scroll-down {
    margin: 100px;   
    width: 80px;
    height: 80px;
    border: 1px solid white;
    opacity: 0.6;
    border-radius: 100%;
    background-color: transparent;
}
.scroll-down img {    
    width: 20px;
    height: 15px;
    animation: scrolling 2.5s infinite linear;
}
@keyframes scrolling {
    50%, 70% {margin-top: 30px;}
    45%,65%, 85%, 100% {margin-top: 0px;}
}
/*Features*/
.back-w {
	margin-top: -80px;
	position: absolute;
}
.back-w p {
	font-size: 10em;
	font-weight: bold;
	color: #3399cc;
}
.block-inline {
    display: inline-block;
}
.item-four {
    margin: 100px 10px 0 10px;
    float: left;
    width: 220px;
}